---
layout: base
title: Kim Blomqvist
description: My technical writings on electronics and programming.
---

<h4>Blog posts</h4>
<ul class="posts hfeed">
	{% for post in site.posts limit: 10 %}
	{% include post-list-item.html %}
	{% endfor %}
</ul><br/>

<h4>Posts elsewhere</h4>
<ul class="posts">
  <li>
    <span class="entry-date">12 Aug 2010</span> &raquo;
    <a class="entry-title" href="http://devzone.zend.com/1765/chaining-language-with-default-route/">
    Chaining language with default route (Zend Framework)
    </a>
  </li>
</ul><br/>

<h4>Journal papers</h4>
<a href="https://orcid.org/0000-0001-6700-7053" target="orcid.widget" rel="noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">orcid.org/0000-0001-6700-7053</a>
<ul class="publications">
  <li>
    <span class="authors"><u>Blomqvist KH</u> and Sepponen RE:</span>
    <a href="http://www.biomedical-engineering-online.com/content/9/1/65" target="_blank">
    A feasibility study of altered spatial distribution of losses induced by eddy currents
    in body composition analysis</a>.
    <span class="journal"><i>BioMedical Engineering OnLine</i>. 2010, 9:65.</span>
  </li>
  <li>
    <span class="authors"><u>Blomqvist KH</u>, Eskelinen P and Sepponen RE:</span>
    <a href="http://iopscience.iop.org/0957-0233/22/5/057002" target="_blank">
    Instrumentation amplifier implements second-order active low-pass filter with high gain factor</a>.
    <span class="journal"><i>Measurement Science and Technology</i>. 2011, 22:057002.</span>
  </li>
  <li>
    <span class="authors"><u>Blomqvist KH</u>, Lundbom J, Lundbom N and Sepponen RE:</span>
    <a href="http://www.biomedical-engineering-online.com/content/10/1/98" target="_blank">
    Body electrical loss analysis (BELA) in the assessment of visceral fat: a demonstration</a>.
    <span class="journal"><i>BioMedical Engineering OnLine</i>. 2011, 10:98.</span>
  </li>
  <li>
    <span class="authors">Kuutti J, <u>Blomqvist KH</u>, Sepponen RE:</span>
    <a href="http://www.mdpi.com/1996-1073/7/3/1685" target="_blank">
    Evaluation of Visitor Counting Technologies and Their Energy Saving Potential through Demand-Controlled Ventilation</a>.
    <span class="journal"><i>Energies</i>. 2014, 7(3):1685‒1705.</span>
  </li>
  <li>
    <span class="authors"><u>Blomqvist KH</u>, Kuutti J, Lundbom J, Pietiläinen KH, Lundbom N, Sepponen RE:</span>
    <a href="https://doi.org/10.1088/2057-1976/aaa5bc" target="_blank">
    Quantification of visceral adiposity: evaluation of the body electrical loss analysis</a>.
    <span class="journal"><i>Biomedical Physics &amp; Engineering Express</i>. 2018, 4(2).</span>
  </li>
</ul><br/>

<h4>Conference papers</h4>
<ul class="publications">
  <li>
    <span class="authors"><u>Blomqvist KH</u>, Sepponen RE, Lundbom J and Lundbom N:</span>
    <a href="http://link.springer.com/chapter/10.1007%2F978-3-642-23508-5_19" target="_blank">
    Body Electrical Loss Analysis (BELA) – An Electromagnetic Method for the Assessment of
    Abdominal Visceral Fat Accumulation</a>.
    <span class="journal">In <i>IFMBE Proc. vol. 37, 5th European Conference of the International
    Federation for Medical and Biological Engineering: 14-18 September 2011; Budapest, Hungary</i>.
    Edited by Jobbágy Á and Magjarevic R, Springer 2012:66‒9</span>
  </li>
  <li>
    <span class="authors"><u>Blomqvist KH</u>, Sepponen RE, Lundbom N, Lundbom J:</span>
    <a href="http://dx.doi.org/10.1109/BEC.2012.6376851" target="_blank">
    An Open-source hardware for electrical bioimpedance measurement</a>.
    <span class="journal">In <i>Proc. of the 13th Biennial Baltic Electronics Conference (BEC2012):
    3-5 October 2012; Tallinn, Estonia</i>. IEEE 2012:199‒202.</span>
  </li>
  <li>
    <span class="authors">Eskelinen H, Eskelinen P, <u>Blomqvist KH</u>:</span>
    <a href="http://dx.doi.org/10.1109/EFTF-IFC.2013.6702134" target="_blank">
    Integrating performance and production oriented design of satellite oscillators</a>.
    <span class="journal">In <i>Proc. European Frequency and Time Forum & International Frequency Control Symposium (EFTF/IFC):
    21-25 July 2013; Prague, Czech Republic</i>. IEEE 2013:185‒7.</span>
  </li>
  <li>
    <span class="authors">Kuutti J, <u>Blomqvist KH</u>, Sepponen RE, Kwak J, Kosonen I:</span>
    <a href="http://dx.doi.org/10.1109/AEECT.2013.6716432" target="_blank">
    Performance of Commercial Over-Head Camera Sensors in Recognizing Patterns of Two and Three Persons: A Case Study</a>.
    <span class="journal">In <i>Proc. Applied Electrical Engineering and Computing Technologies (AEECT):
    3-5 December 2013; Amman, Jordan</i>. IEEE 2013:1‒6.</span>
  </li>
</ul><br/>

<h4>My most prominent open-source projects</h4>
<ul>
  <li>
    <a href="http://aery32.readthedocs.io" target="_blank">Aery32</a> &raquo;
    an AVR32 based 32-bit development board for agile prototypes.
  </li>
  <li>
    <a href="https://github.com/openebi" target="_blank">OpenEBI</a> &raquo;
    an open-source hardware to measure electrical bioimpedance (EBI) using four-electrode technique.
  </li>
  <li>
    <a href="https://github.com/kblomqvist/yasha" target="_blank">Yasha</a> &raquo;
    a command-line tool to render Jinja templates for great good. (code generator)
  </li>
</ul>
