---
layout: base
description: My technical writings on electronics and programming.
---

<h4>Blog posts</h4>
<ul class="mylist hfeed">
	{% for post in site.posts limit: 10 %}
	{% include post-list-item.html %}
	{% endfor %}
</ul><br/>

<h4>Other posts elsewhere</h4>
<ul class="mylist">
  <li>
    <span class="entry-date">11 Jul 2012</span> &raquo;
    <a class="entry-title" href="http://www.avrfreaks.net/index.php?name=PNphpBB2&file=viewtopic&t=122767">
    Batchisp for UC3 chips demystified
    </a>
  </li>
  <li>
    <span class="entry-date">12 Aug 2010</span> &raquo;
    <a class="entry-title" href="http://devzone.zend.com/1765/chaining-language-with-default-route/">
    Chaining language with default route (Zend Framework)
    </a>
  </li>
</ul><br/>

<h4>Journal papers</h4>
<ul class="jpapers">
  <li>
    Blomqvist KH and Sepponen RE:
    <a href="http://www.biomedical-engineering-online.com/content/9/1/65" target="_blank">
    A feasibility study of altered spatial distribution of losses induced by eddy currents in body composition analysis</a>.
    <i>BioMedical Engineering OnLine</i>. 2010, 9:65.
  </li>
  <li>
    Blomqvist KH, Eskelinen P and Sepponen RE:
    <a href="http://iopscience.iop.org/0957-0233/22/5/057002" target="_blank">
    Instrumentation amplifier implements second-order active low-pass filter with high gain factor</a>.
    <i>Measurement Science and Technology</i>. 2011, 22:057002.
  </li>
  <li>
    Blomqvist KH, Lundbom J, Lundbom N and Sepponen RE:
    <a href="http://www.biomedical-engineering-online.com/content/10/1/98" target="_blank">
    Body electrical loss analysis (BELA) in the assessment of visceral fat: a demonstration</a>.
    <i>BioMedical Engineering OnLine</i>. 2011, 10:98.
  </li>
</ul><br/>

<h4>Conference papers</h4>
2 pcs. will add soon ...

<h4>Prominent open source projects</h4>
<ul class="jpapers">
    <li><a href="http://www.aery32.com" target="_blank">Aery32</a> &raquo; a 32-bit development board for agile prototypes. Made to be professionally fun.</li>
    <li><a href="https://github.com/openebi" target="_blank">OpenEBI</a> &raquo; an open source hardware to measure electrical bioimpedance (EBI) using four-electrode technique.</li>
</ul>
