body { padding-top: 20px; padding-bottom: 40px; font-family: OxygenRegular; }
.container-narrow { margin: 0 auto; max-width: 700px; }

h1, h2, h3, h4, h5 { font-weight: normal; }
.page-title > a:hover, .page-title > a:focus { text-decoration: none; color: #0088CC; }

ul.mylist > li { list-style: none; }
ul.mylist > li > address, .post address { display: none; }
ul.mylist .entry-date { font-family: Monaco, "Courier New", monospace; color: #999; font-style: italic; }

ul.puplications > li { margin: 4px 0; color: #888; }
ul.publications > li .authors { color: #444; }

p { text-align: justify; font-size: 15px }
p+h2, pre+h2 { margin-top: 40px; }


/* POST */
.post .entry-title { font-size: 31.5px; color: #005580; }
.post .entry-title > a:link { color: inherit; text-decoration: none; }
.post p, .post h2 { margin-left: 100px; }

.post header { margin-bottom: 20px; }
.post .published { font-style: italic; color: #999; font-family: Verdana; }
